.dropmenu {
	/*background:#930;*/
	background-color: #855723;
	float: none;
	padding: 0px;
	width:950px;
	margin: 0 auto;
}

.dropmenu li a, .dropmenu li{
	float: left;
}

.dropmenu li{
	list-style: none;
	position: relative;	
}

.dropmenu li span{
	background-color:#FFF;
	display:block;
	height:5px;
	position:absolute;
	right:10px;
	top:11px;
	width:5px;
}

.dropmenu li a:hover span{
	background-color:#855723;
}

.dropmenu li a, .dropmenu li div{
	padding: 6px 45px 6px 5px;
	text-decoration: none;
	background-color:#855723;
	color:#DBCA69;
}

.dropmenu li a:hover{
	background:#855723;
}

/* Submenu */
.dropmenu li ul, .dropmenu li > div {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	padding: 0px;
	margin: 0px;
	background:#855723;
}

.dropmenu.css-only li:hover > ul, .dropmenu.css-only li:hover > div{
	display: block;
	background:#855723;
}

.dropmenu li ul li, .dropmenu li ul li a{
	float: none;
	background:#855723;
}

.dropmenu li ul li{
	_display: inline; /* for IE6 */	
}

.dropmenu li > div{
	width: 200px;
	padding: 15px 15px 15px 0;
}

/* Sub submenu */

.dropmenu li ul li a{
	width: 150px;
	display: block;
}
.dropmenu li ul li a:hover{
	background-color:#663;
	font-weight: bold;
}

.dropmenu li ul li ul, .dropmenu li ul li > div{
	top: 0px;
	left: 100%;
}
